@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
}
.Imgcontainer{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}
.weather{
    position: absolute;
    bottom: 92%;
}
 .SearchIconDiv{
    top: 103px;
    margin-left: 3px;
 }

 .weatherCondition{
    margin-left: 80%;
 }
 .CurrentCity{
    margin-left: 80%;
 }

 /* phone */
 @media (min-width: 375px) and (max-width: 500px) {
    .CurrentCity{
        margin-left: 74px;
        top: 75%;
    }
    .image{
       object-fit: cover;
    }
 }

 /* tablet */
 @media (min-width: 500px) and (max-width: 820px) {
     .CurrentCity {
         margin-left: 70%;
         font-size: 35px;
         /* top: 75%; */
     }
     p{
        font-size: 24px;
        margin-top: 7px;
     }
     input{
        margin-top: 17px;
        padding-left: 45px;
        padding-right: 45px;
     }
     .cityInput{
        margin-top: 15px;
     }
    .SearchIconDiv {
        top: 119px;
        
    }
    .tempClass{
        margin-top: 30px;
    }
     .image {
         object-fit: cover;
     }
 }